/* About page */

.about1strow {
  background-color: #ffffff;
  padding-top: 12rem;
}
.about2strow {
  background-color: #ffffff;
  padding-bottom: 12rem;
}
.about1strowImg1 {
  background-color: #1a39ca;
}
.about1strowImg2 {
  background-color: #1a39ca;

}
.about-Text {
  font-size: 1.5rem;
  padding: 2rem;
}

.pictures {
  width: 10rem;
  height: 12rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  padding: 1rem;
  margin: 1rem;
}
#florin {
  background: url(../images/florin.png) no-repeat;

  background-size: 100%;
  border-radius: 50%;
  height: 6rem;
  width: 6rem;
  padding: 4rem;
}
#heriberto {
  background: url(../images/Heriberto.png) no-repeat;
  background-size: 100%;
  border-radius: 50%;
  height: 6rem;
  width: 6rem;
  padding: 4rem;
}
#mariana {
  background: url(../images/Mariana.png) no-repeat;
  background-size: 100%;
  border-radius: 50%;
  height: 6rem;
  width: 6rem;
  padding: 4rem;
}
#sara {
  background: url(../images/sara.jpg) no-repeat;
  background-size: 100%;
  border-radius: 50%;
  height: 6rem;
  width: 6rem;
  padding: 4rem;
}
#kinjal {
  background: url(../images/kinjal.jpeg) no-repeat;
  background-size: 100%;
  border-radius: 50%;
  height: 6rem;
  width: 6rem;
  padding: 4rem;
}
#webdev-gif {
  background: url(../images/basics-of-web-development.gif) no-repeat;
  background-color: #1a39ca;
  background-blend-mode: color-dodge;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 41rem;
}
