/* About page */
.aboutCol {
  font-size: 1.4rem;
}
.about_heroimg {
  width: 35rem;
  height: 20rem;
}
.about1strow {
  background-color: #ffffff;
  
}
.about1strowImg {
  background-color: #1a39ca;
}
.about-Text {
  font-size:1.5rem;
  padding-bottom: 5rem;
  padding-top: 5rem;
  padding-right: 2rem;
}
.pictures {
  margin: 3rem 6rem 0rem 6rem;
  padding:5rem 5rem;
  width:40px;
  height:60px;
  background-color:white;  
}
.text-center {
  text-align: center;
  display:block !important;
}
#florin {
background: url(../images/florin.png) no-repeat;
background-size: 100%;
border-radius: 50%;
}
#heriberto {
background: url(../images/Heriberto.png) no-repeat;
background-size: 50%;
padding: 10rem 4rem 5rem 8rem;
background-color: white;
}
#mariana {
/* background: url(../images/florin.png) no-repeat; */
background-size: 100%;
border-radius: 50%;
}
#sara {
/* background: url(../images/florin.png) no-repeat; */
background-size: 100%;
border-radius: 50%;
}
#kinjal {
/* background: url(../images/florin.png) no-repeat; */
background-size: 80%;
border-radius: 50%;
}


