/* Blog Page */

.showPostsSection {
  padding-top: 10rem;
}

.blogCards {
  width: 40rem;
  margin: 3rem auto;
  background-color: #fff;
}

.blogUser {
  font-size: 2.5rem;
  border-bottom: 2px solid gainsboro;
  color: #1a39ca;
  padding-bottom: 0.5rem;
}

.blogTitle {
  padding-top: 0.5rem;
  font-size: 1.6rem;
  height:8rem;
  border-bottom: 2px solid gainsboro;
  overflow-y: scroll;
}

.blogContent {
  height: 20rem;
  border-bottom: 2px solid gainsboro;
  overflow-y: scroll;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3rem 0;
  padding: 1rem;
}

.showPostsSection img,
iframe {
  width: 30rem;
  height: 20rem;
}

.likeButton {
  font-size: 3rem;
  color: #1a39ca;
  
}

.likesNumber {
  font-size: 3rem;
}

.newPostButton {
  font-size: 2rem;
  padding: 1rem 4rem;
}

.link_addPost {
  text-decoration: none;
}

.blogs,
.blogsLink {
  color: #fff;
  text-decoration: none;
}

/* add post */

.writeBlogSection {
  margin-top: 10rem;
}

form label {
  font-size: 2rem;
  margin-top: 0.5rem;
}

form input {
  height: 4rem;
  border: 1px solid black;
}

#inputTitle,
#firstName,
#email {
  font-size: 2rem;
}

.postButton {
  background-color: #1a39ca;
  color: #fff;
  margin: 10rem 0;
}

.writeBlogImg {
  width: 68rem;
  height: 70rem;
  object-fit: contain;
}

/* quil editor */
.ql-editor {
  min-height: 30rem;
}

/* end of quil editor */

/* end of add post */
@media (max-width: 600px) {
  .blogCards {
    width: 32rem;
  }
}
@media only screen and (max-width: 600px) {
  .blogCards {
    width: 0rem;
  }

  .blogUser {
    font-size: 2rem;
    padding-bottom: 0.3rem;
  }
  .blogTitle {
    padding-top: 0.3rem;
    font-size: 1.4rem;
    height: 10rem;
  }
  .blogContent {
    height: 28rem;
    border-bottom: 2px solid gainsboro;
  }

  .showPostsSection img,
  iframe {
    width: 30rem;
    height: 28rem;
  } 
} 

@media only screen and (device-width: 411px) and (device-height: 823px) {
    .blogCards {
    width: 28rem;
    height: 28rem;
  }
}

@media (min-width: 411px) and (max-width: 823px) {
  .blogCards {
    width: 35rem;
  }

  .blogUser {
    font-size: 2rem;
    padding-bottom: 0.3rem;
  }
  .showPostsSection img,
  iframe {
    width: 32.5rem;
    height: 28rem;
  }
}
@media only screen and (device-width: 414px) and (device-height: 736px) {
  .blogCards {
    width: 37rem;
  }

  .blogUser {
    font-size: 2rem;
    padding-bottom: 0.3rem;
  }
  .showPostsSection img,
  iframe {
    width: 35rem;
    height: 28rem;
  }
}

@media only screen and (device-width: 320px) and (device-height: 568px) {
  .blogCards {
    width: 20rem;

  }

  .blogUser {
    font-size: 2rem;
    padding-bottom: 0.3rem;
  }
  .showPostsSection img,
  iframe {
    width: 25.7rem;
    height: 28rem;
  }
}
  @media only screen and (max-width: 600px) {
    .blogCards {
      width: 28rem;
    }

    .blogUser {
      font-size: 2rem;
      padding-bottom: 0.3rem;
    }

    .blogTitle {
      padding-top: 0.3rem;
      font-size: 1.4rem;
      height: 10rem;
    }

    .blogContent {
      height: 28rem;
      border-bottom: 2px solid gainsboro;
    }

    .showPostsSection img,
    iframe {
      width: 28rem;
      height: 28rem;
    }
  }


@media only screen and (device-width: 375px) and (device-height: 667px) {


  .blogCards {
    width: 32rem;
  }

  .blogUser {
    font-size: 2rem;
    padding-bottom: 0.3rem;
  }
  .showPostsSection img,
  iframe {
    width: 30rem;
    height: 28rem;
  }

  .blogTitle {
    padding-top: 0.3rem;
    font-size: 1.6rem;
  }
}

@media only screen and (device-width: 375px) and (device-height: 812px) {

  .blogCards {
    width: 33rem;
  }

  .blogUser {
    font-size: 2rem;
    padding-bottom: 0.3rem;
  }
  .showPostsSection img,
  iframe {
    width: 31rem;
    height: 28rem;
  }
}

@media only screen and (device-width: 540px) and (device-height: 720px) {
  .blogCards {
    width: 45rem;
  }

  .blogUser {
    font-size: 2.4rem;
    padding-bottom: 0.3rem;
  }
  .showPostsSection img,
  iframe {
    width: 43rem;
    height: 28rem;
  }

  .blogTitle {
    font-size: 1.8rem;
  }
}

@media only screen and (device-width: 768px) and (device-height: 1024px) {
  .blogCards{
    width: 35rem;
    margin-left: 1rem;
  }
}

@media only screen and (device-width: 280px) and (device-height: 653px) {
  .blogCards {
    width: 24rem;
  }

  .blogUser {
    font-size: 2.4rem;
    padding-bottom: 0.3rem;
  }
  .showPostsSection img,
  iframe {
    width: 22rem;
    height: 28rem;
  }

  .blogTitle {
    font-size: 1.4rem;
    height: 12rem;
  }
}