/* Start of forum page */

.first-clip-forum{
clip-path: polygon(100% 48%, 0 0, 0 100%);background: linear-gradient(#e6efff, #1a39ca, #141a75);
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  z-index: -1;
}


.forum-container {
  background-color: rgba(0, 0, 0, 0.445);
  color: white;
  border-radius: 10px 10px;
  text-align: center;
  margin-top: 10rem;
  padding: 2rem 5rem;
}

.main-question-div {
  padding: 1em;
  border-bottom: 1px solid var(--primary-low);
  display: flex;
  align-items: center;
}

.btn-container {
  width: 70%;
  margin-top: 6rem;
  display: flex;
  justify-content: space-between;
}

.askQuestion-btn {
  background-color: #f66e1a;
  border: none;
  font-size: 2rem;
  border-radius: 6px 6px;
  width: 14rem;
  color: white;
  margin-top: 3rem;
}
.searchbar {
  margin-top: 5rem;
  align-items: center;
  width: auto;
  height: 5rem;
  display: flex;
}

.writeBlogSection input{
  height: 4rem;
}
.question-cards-container {
  margin-bottom: 10rem;
}

.question-cards {
  border-radius: 10px 10px;
  box-shadow: rgba(100, 97, 97, 0.56) 0px 2px 20px 4px;
}

.question-user {
  font-size: 1.8rem;
}

.question-title {
  font-size: 1.6rem;
}


.question-link {
  text-decoration: none;
  color: black;
}

.showQuestionDetails-container {
  margin-top: 10rem;
  margin-bottom: 10rem;
}

.showQuestionDetails-cards {
  margin-bottom: 5rem;
  border-radius: 5px 5px;
  box-shadow: rgba(100, 97, 97, 0.56) 0px 1px 10px 2px;
}

.showQuestionDetails-header,
.showQuestionDetails-title {
  font-size: 1.8rem;
}

.showQuestionDetails-title {
  height: 5rem;
  border-bottom: 1px solid gainsboro;
}

.showQuestionDetails-content {
  font-size: 1.6rem;
  height: 30rem;
  overflow-y: scroll;
}

.showQuestionDetails-container .ql-editor {
  min-height: 15rem;
}

.form-container {
  border-radius: 5px 5px;
  box-shadow: rgba(100, 97, 97, 0.56) 0px 1px 10px 2px;
}

.submit-button {
  font-size: 2rem;
  border-radius: 5px;
  margin-top: 3rem;
  background-color: #f66e1a;
  color: #fff;
  margin-bottom: 3rem;
}

.showAnswerDetails {
  font-size: 1.6rem;
  height: 20rem;
  overflow-y: scroll;
}

@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 80%;
  }
}

@media (min-width: 600px){

  .hide-topic{
    display: none;

  }
}

/* End of forum page */
