/* Home Page */
.hero-container {
  width: 90%;
  margin: 15% auto;
}
.hero-container h1 {
  font-size: 4rem;
}
.hero-text {
  padding: 3rem 2rem;
  font-size: 2rem;
  text-align: center;
  border-radius: 10px 10px;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  background-color: whitesmoke;
  height: 40rem;
}
.hero-img {
  background: url(../images/meeting-1019875_1920.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 40rem;
  border-radius: 10px 10px;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
.who-section {
  width: 70%;
  margin: 20% auto;
  height: 30rem;
}
.why-section {
  width: 70%;
  margin: 15% auto;
  height: 30rem;
}
.join-section {
  width: 70%;
  margin: 15% auto;
  height: 30rem;
}
.text-container {
  height: 30rem;
  border-radius: 10px 10px;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  background-color: whitesmoke;
  font-size: 1.8rem;
  text-align: justify;
  padding: 3rem;
  box-sizing: border-box;
}
.img-container {
  height: 30rem;
  border-radius: 10px 10px;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  margin: 0;
  background-color: #ffffff;
}
.img1 {
  background: url(../images/undraw_pair_programming_njlp.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.img2 {
  background: url(../images/undraw_Code_typing_re_p8b9.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.img3 {
  background: url(../images/undraw_Code_thinking_re_gka2.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.clip-1 {
  clip-path: polygon(50% 0%, 0 47%, 0 0);
  background: linear-gradient(#e6efff, #1a39ca, #04083c);
  width: 220rem;
  height: 50rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
.clip-2 {
  clip-path: polygon(100% 36%, 100% 100%, 0 100%);
  background: linear-gradient(#e6efff, #1a39ca, #04083c);
  width: 200rem;
  height: 80rem;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: -1;
}
/* media query */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .hideRowMobile {
    display: none;
  }
  .first_row_home_heroimg {
    width: 100%;
    height: 100%;
    display: block;
    margin: auto;
    padding-bottom: 3rem;
    overflow: hidden;
  }
  .first_row {
    margin-top: 9rem;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .hideRowDesktop {
    display: none;
  }
}
