/*Login Page*/
.login-container,
.register-container {
  margin: 13% auto;
  width: 50vw;
  max-width: 1150px;
  height: auto;
  background-color: #e6efff;
  border-radius: 10px 10px;
}
.login-container h2,
.register-container h2 {
  font-size: 3rem;
}
#login-img {
  background-image: url(../images/lock-4441691_1280.png);
  background-size: cover;
  background-position: center;
  background-color: #1a39ca;
  background-blend-mode: screen;
  border-radius: 10px 10px;
}
.login-form,
.login-form input {
  font-size: 2rem;
  padding: 2.5rem;
}
.register-btn,
.login-btn {
  background-color: #f66e1a;
  border-color: #a0806c;
  font-size: 2rem;
  border-radius: 5px 5px;
  width: 10rem;
  color: white;
  margin: 3rem;
}
.login-clip {
  clip-path: polygon(0 100%, 0 43%, 100% 100%, 63% 100%, 0 100%);
  background: linear-gradient(#e6efff, #1a39ca, #04083c);
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100%;
  bottom: 0rem;
  right: 0;
}
