/* News Page */

.news-header-container {
  width: 90%;
  background-color: #F66E1A;
  margin: 6rem auto;
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.news-header-container > h1 {
  color: white;
  font-size: 5vw;
  font-weight: bold;
}
.article-card {
  margin: 0 auto;
  width: 90%;
  text-align: center;
  font-size: 1.5rem;
}
.navbar-container {
  width: 25%;
  margin: auto;
  margin-bottom: 1rem;
}
.backBtn {
  border: #F66E1A;
  background-color: #F66E1A;
  color: white;
  width: 90%;
  margin: 0 auto;
}
.navbtn-news {
  background-color: #fbfbfb;
  border: none;
  border-radius: 50%;
  color:black;
  margin-right: 0.5rem;
}
.article-image {
  float: left;
  height: 30vh;
  width: 25vw;
  object-fit: cover;
}

@media only screen and (max-width: 600px) {
  .news-header-container > h1 {
    font-size: 7vw;
  }
  .article-card {
    font-size: 1rem;
    margin-left: auto;
    margin-right: auto;
  }
  .navbar-container {
    width: 50%;
  }
  .article-image {
    margin: 1rem;
    margin: 0;
    width: 70vw;
    font-size: 1.5rem;
  }
  .news-header-container {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.5rem;
    height: 5rem;
  }
}
