/*Register Page*/
.register-container {
  margin: 10% auto;
}
#register-img {
  background-image: url(../images/membership-3936563_1280.jpg);
  background-size: cover;
  background-position: center;
  background-color: #1a39ca;
  background-blend-mode: screen;
  border-radius: 10px 10px;
}
.register-form,
.register-form input {
  font-size: 1.5rem;
  padding: 0 2rem;
}

