:root {
  font-size: 62.5%;
}
body {
  background: rgb(251, 251, 251);
}
/*Navbar*/
.navbar-css {
  width: 100%;
  min-height: 6rem;
  background: #1a39ca;
  font-size: 18px;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 1;
}
.userLogin {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  color: #1a39ca;
  background-color: white;
  padding: 0.2rem;
  margin: 0.5rem 1rem;
}
.user-dropdown {
  position: fixed;
  top: 1rem;
  right: 7rem;
}
.dropdown-toggle::after {
  content: none;
}
.nav-link {
  margin: 0.5rem 1rem;
}
.nav-menu {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-menu li a {
  color: white !important;
}
.align-burger-button {
  position: fixed;
  right: 3rem;
  top: 1.5rem;
}
.align-logo {
  position: fixed;
  top: 1.5rem;
  left: 3rem;
}
.register-buttons {
  font-size: 14px;
}
/*Navbar*/
/*Footer*/
.footer-container {
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: #1a39ca;
  color: white;
}
/*Footer*/

/* Home Page */
.first_row {
  margin-top: 10rem;
  margin-bottom: 20rem;
}
.first_row_h1 {
  font-size: 4rem;
  margin-bottom: 3.5rem;
}
.first_row_h2 {
  font-size: 3rem;
  margin-bottom: 3.5rem;
}
#first_row_p {
  font-size: 1.4rem;
  margin-bottom: 3.5rem;
}
.first_row_home_heroimg {
  width: 100%;
  height: 100%;
  display: block;
  margin: auto;
  padding-bottom: 15rem;
}
.home_para h1 {
  margin-top: 3rem;
  text-align: center;
}
.home_para p {
  font-size: 1.4rem;
}
.home_para {
  text-align: center;
}
.home_heroimg {
  width: 100%;
  height: 100%;
  display: block;
  margin: auto;
  padding-top: 2rem;
}
.homebutton {
  font-size: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 10rem;
}
.dciOnHeroImg {
  position: relative;
}
.dciLogo {
  position: absolute;
  width: 5rem;
  height: 4rem;
  z-index: 100;
  top: 3rem;
  right: 16rem;
}
.rest_rows {
  margin-bottom: 10rem;
}
z .container,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  max-width: 1100px;
}
/* media query */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .hideRowMobile {
    display: none;
  }
  .first_row_home_heroimg {
    width: 100%;
    height: 100%;
    display: block;
    margin: auto;
    padding-bottom: 3rem;
    overflow: hidden;
  }
  .first_row {
    margin-top: 9rem;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .hideRowDesktop {
    display: none;
  }
}
/* end of media query */
/* End of home page */
/* About page */
.aboutCol {
  font-size: 1.4rem;
}
.about_heroimg {
  width: 35rem;
  height: 20rem;
}
.about1strow {
  background-color: #f4f5f7;
}
.about1strowImg {
  background-color: #1a39ca;
}
/* End of about page */

/*Login Page*/
.login-container {
  margin: 13% auto;
  width: 50vw;
  max-width: 1150px;
  height: auto;
  background-color: #e6efff;
  border-radius: 10px 10px;
}
.login-container h2 {
  font-size: 3rem;
}
#login-img {
  background-image: url(./images/lock-4441691_1280.png);
  background-size: cover;
  background-position: center;
  background-color: #1a39ca;
  background-blend-mode: screen;
  border-radius: 10px 10px;
}
.login-form,
.login-form input {
  font-size: 1.8rem;
  padding: 2.5rem;
}
.register-btn,
.login-btn {
  background-color: #f66e1a;
  border-color: #a0806c;
  font-size: 2rem;
  border-radius: 5px 5px;
  width: 10rem;
  color: white;
}
/* End of about page */
