body {
  background: rgb(251, 251, 251);
}
/*Navbar*/
.navbar-css {
  background: #1a39ca;
  font-size: 18px;
  align-items: center;
}

.userLogin {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  color: #1a39ca;
  background-color: white;
  padding: 0.2rem;
  margin: 0.5rem 1rem;
}

.userdropdown {
  margin-right: 6rem;
}

.dropdown-toggle::after {
  content: none;
}

.logoNav {
  margin-left: 6rem;
}

.nav-link {
  margin: 0.5rem 1rem;
}
.navmenu {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Navbar*/

/*Footer*/

/*Footer*/
:root {
  font-size: 62.5%;
}
/* body {
    background: rgb(65, 65, 43);
} */

/* Home Page */

.home_para h1 {
  margin-top: 3rem;
  text-align: center;
}

.home_para p {
  font-size: 1.4rem;
}

.home_para {
  text-align: center;
}

.home_heroimg {
  width: 35rem;
  height: 20rem;
  display: block;
  margin: auto;
  padding-top: 2rem;
}

.homebutton {
  font-size: 1.8rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.dciOnHeroImg {
  position: relative;
}

.dciLogo {
  position: absolute;
  width: 5rem;
  height: 4rem;
  z-index: 100;
  top: 3rem;
  right: 16rem;
}

.container,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  max-width: 1100px;
}

/* media query */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .hideRowMobile {
    display: none;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .hideRowDesktop {
    display: none;
  }
}

/* end of media query */

/* End of home page */

/*  HERIBERTO */

.container2 {
  width: auto;
  height: 100%;
  background: #e6efff;
}

.search-btn-userPage {
  margin-top: 15px;
  margin-left: 10px;
  background: #1a39ca;
  color: white;
  border-radius: 10px;
  width: 75px;
  height: 27px;
  font-size: 12px;
}

.userPage-search-section {
  text-align: center;
}

.search-form-userPage {
  width: 389px;
  height: 27px;
  border-radius: 10px;
}

.main-content-userPage {
  display: flex;
  direction: row;
}

.photo {
  width: 250px;
  height: 250px;
  margin-left: 30px;
  margin-right: 15px;
}

.addPic {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 20px;
  background: #1a39ca;
  color: white;
}

.agenda {
  width: 60vw;
  height: 80vh;
  margin: 30px;
  padding: 10px;
  border: 1px solid #1a39ca;
}

.agenda h5 {
  font-size: 18px;
}

.agenda h3 {
  font-size: 36px;
  margin-top: 30px;
  margin-left: 15px;
}

.agenda a {
  font-size: 24px;
  margin-left: 30px;
}

.agenda ol li {
  font-size: 24px;
  margin-left: 60px;
}

.agenda ul li {
  list-style: none;
}

.basic-userdata li {
  font-size: 30px;
  list-style-type: none;
}

/*------------Jobs----------------------*/

.Jobs-title {
  position: relative;
  text-align: center;
}

.Jobs-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 150px;
  font-weight: 200;
  color: #1a39ca;
  font-family: "Times New Roman", Times, serif;
}

.Job-list {
  width: 70vw;
  height: 65vh;
  margin: 30px;
  padding: 10px;
  border: 1px solid #1a39ca;
  overflow: auto;
}

.content-jobs-page {
  display: flex;
  justify-content: center;
}
