.DCILogo {
position: absolute;
left: 7.89%;
right: 83.33%;
top: 2;
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 0.8rem;
line-height: 18px;
color: #FFFFFF;
}
#user {
  color: black 
}
.SignInNavBtn {
  border-radius: 4px;
  background: #256ce1;
  padding: 10px 22px;
  color: #fff;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  /* Second Nav */
  margin-left: 24px;
}
  .SignInNavBtn :hover {
    transition: all 0.2s ease-in-out;
    background: #fff;
    color: #010606;
}

.bars {
  display: none;
  color: #fff;
  @media screen and (max-width: 768px) {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 75%);
    font-size: 1.8rem;
    cursor: pointer;
  }  
}
.navMenu {
    display: flex;
  align-items: center;
  margin-right: -24px;
  /* Second Nav */
  /* margin-right: 24px; */
  /* Third Nav */
  /* width: 100vw;
  white-space: nowrap; */
  @media screen and (max-width: 768px) {
    display: none;
  }
}
.nav {
  background-color: #243379;
  color: #FFFFFF;
  height: 80px;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem calc((100vw - 1000px) / 2);
  z-index: 10;

}
.nav a {
    color: #FFFFFF;
}

