body {
  background: rgb(251, 251, 251);
}
/*Navbar*/
.navbar-css {
  background: #1a39ca;
  font-size: 18px;
  align-items: center;
  width: 100%;
}

.userLogin {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  color: #1a39ca;
  background-color: white;
  padding: 0.2rem;
  margin: 0.5rem 1rem;
}

.userdropdown {
  margin-right: 6rem;
  
}

.dropdown-toggle::after {
  content: none;
}

.logoNav {
  margin-left: 6rem;
}

.nav-link {
  margin: 0.5rem 1rem;
}
.navmenu {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbuttons {
  display: flex;
  justify-content: center;
  align-items: center;
 

}

/*Navbar*/

/*Footer*/
.footerbackgroundcolor {
    background-color: #1a39ca;
    color: white;
}
/*End of Footer*/

:root {
  font-size: 62.5%;
}
/* body {
    background: rgb(65, 65, 43);
} */

/* Home Page */

.first_row {
  margin-top: 10rem;
  margin-bottom: 10rem;
}

.first_row_h1 {
  font-size: 4rem;
  margin-bottom: 3.5rem;
}

.first_row_h2 {
  font-size: 3rem;
  margin-bottom: 3.5rem;
}

#first_row_p {
  font-size: 1.4rem;
  margin-bottom: 3.5rem;
}

.first_row_home_heroimg {
  width: 55rem;
  height: auto;
  display: block;
  margin: auto;
  padding-bottom: 10rem;
}

.home_para h1 {
  margin-top: 3rem;
  text-align: center;
}

.home_para p {
  font-size: 1.4rem;
}

.home_para {
  text-align: center;
}

.home_heroimg {
  width: auto;
  height: 20rem;
  display: block;
  margin: auto;
  padding-top: 2rem;
}

.homebutton {
  font-size: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 5rem;
}

.second_row {
  margin-top: 10rem;
}

.dciOnHeroImg {
  position: relative;
}

.dciLogo {
  position: absolute;
  width: 5rem;
  height: 4rem;
  z-index: 100;
  top: 3rem;
  right: 16rem;
}

.container,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  max-width: 1100px;
}

/* media query */

/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
  .hideRowMobile {
    display: none;
  }
  
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .hideRowDesktop {
    display: none;
  }
}

/* end of media query */

/* End of home page */

/* About page */

.aboutCol {
  font-size: 1.4rem;
}

.about_heroimg {
  width: 35rem;
  height: 20rem;
}

.about1strow {
  background-color: #f4f5f7;
}

.about1strowImg {
  background-color: #1a39ca;
}
/* End of about page */
