:root {
  font-size: 62.5%;
}
body {
  background: rgb(251, 251, 251);
}
/*Navbar*/
.navbar-css {
  width: 100%;
  min-height: 6rem;
  background: #1a39ca;
  font-size: 18px;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 1;
}
.userLogin {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  color: #1a39ca;
  background-color: white;
  padding: 0.2rem;
  margin: 0.5rem 1rem;
}

.user-dropdown {
  position: fixed;
  top: 1rem;
  right: 7rem;
}
.dropdown-toggle::after {
  content: none;
}
.nav-link {
  margin: 0.5rem 1rem;
}
.nav-menu {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-menu li a {
  color: white !important;
}
.align-burger-button {
  position: fixed;
  right: 3rem;
  top: 1.5rem;
}
.align-logo {
  position: fixed;
  top: 1.5rem;
  left: 3rem;
}
.username {
  position: fixed;
  top: 1rem;
  right: 13rem;
}
.register-buttons {
  font-size: 14px;
}
.nav-logo {
  width: 15rem;
  height: 4.5rem;
  margin-left: 2rem;
}
/*Navbar*/
/*Footer*/

.footer-container {
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: #1a39ca;
  color: white;
}

/*Footer*/

/* Home Page */
.first_row {
  margin-top: 10rem;
  margin-bottom: 20rem;
}
.first_row_h1 {
  font-size: 4rem;
  margin-bottom: 3.5rem;
}
.first_row_h2 {
  font-size: 3rem;
  margin-bottom: 3.5rem;
}
#first_row_p {
  font-size: 1.4rem;
  margin-bottom: 3.5rem;
}
.first_row_home_heroimg {
  width: 100%;
  height: 100%;
  display: block;
  margin: auto;
  padding-bottom: 15rem;
}
.home_para h1 {
  margin-top: 3rem;
  text-align: center;
}
.home_para p {
  font-size: 1.4rem;
}
.home_para {
  text-align: center;
}
.home_heroimg {
  width: 100%;
  height: 100%;
  display: block;
  margin: auto;
  padding-top: 2rem;
}
.homebutton {
  font-size: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 10rem;
}
.dciOnHeroImg {
  position: relative;
}
.dciLogo {
  position: absolute;
  width: 5rem;
  height: 4rem;
  z-index: 100;
  top: 3rem;
  right: 16rem;
}
.rest_rows {
  margin-bottom: 10rem;
}
.container,
.rest_rows {
  margin-bottom: 10rem;
}
.container,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  max-width: 1100px;
}

/* Resources page */
.main-resources-container {
  margin-top: 10vh;
  background-color: #e6eefe;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.resources-container {
  background: linear-gradient(
    to right,
    #1f4d6a,
    #1f4d6a,
    #3c8bbc,
    #3c8bbc,
    #3c8bbc
  );
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 35vh;
}
td {
  padding-top: 1rem;
}
.resources-container > img {
  height: auto;
  width: 26vw;
}
.resources-container > h1 {
  margin-left: 3vw;
  color: white;
  font-size: 6vw;
  font-weight: bold;
}
.content-table {
  margin-top: 3vh;
  background-color: #e6eefe;
  border: 0.25rem black solid;
  width: 97%;
}
.resource-img {
  padding: 1.3vw;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.resource-img > img {
  height: 6vh;
  width: 12vw;
}
.resource-text {
  text-align: justify;
  padding: 1rem;
  font-size: 1.8rem;
  padding-bottom: 6vh;
}

/* media query */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .hideRowMobile {
    display: none;
  }
  .first_row_home_heroimg {
    width: 100%;
    height: 100%;
    display: block;
    margin: auto;
    padding-bottom: 3rem;
    overflow: hidden;
  }
  .first_row {
    margin-top: 9rem;
  }

  /* navbar */
  .nav-logo {
    width: 4.5rem;
    height: 4.5rem;
    margin-left: 1.2rem;
  }
  /* Resources page */
  .resources-container {
    display: block;
  }
  .resources-container > img {
    height: 100%;
    width: 100%;
  }
  .resources-container > h1 {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    font-size: 8vw;
  }
  .content-table {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3vh;
    background-color: #e6eefe;
    border: 0.25rem black solid;
    width: 97%;
  }
  .resource-img {
    padding: 1.3vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .resource-img > img {
    height: 5vh;
    width: 30vw;
  }
  .resource-text {
    text-align: justify;
    font-size: 1.2rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .hideRowDesktop {
    display: none;
  }
}
/* end of media query */
/* End of home page */

/*  HERIBERTO */

/*----UserPage-----*/

.container2 {
  /*width: auto;*/
  height: 100vh;
  background: #e6efff;
  padding-top: 60px;
  box-sizing: border-box;
}

.search-btn-userPage {
  margin-top: 15px;
  margin-left: 10px;
  background: #1a39ca;
  color: white;
  border-radius: 10px;
  width: 75px;
  height: 27px;
  font-size: 12px;
}

.userPage-search-section {
  text-align: center;
}

.search-form-userPage {
  width: 389px;
  height: 27px;
  border-radius: 10px;
}

.main-content-userPage {
  display: flex;
  direction: row;
}

.photo {
  width: 250px;
  height: 250px;
  margin-left: 30px;
  margin-right: 15px;
}

.addPic {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 20px;
  background: #1a39ca;
  color: white;
}

.agenda {
  width: 60vw;
  height: 80vh;
  margin: 30px;
  padding: 10px;
  border: 1px solid #1a39ca;
}

.agenda h5 {
  font-size: 18px;
}

.agenda h3 {
  font-size: 36px;
  margin-top: 30px;
  margin-left: 15px;
}

.agenda a {
  font-size: 24px;
  margin-left: 30px;
}

.agenda ol li {
  font-size: 24px;
  margin-left: 60px;
}

.agenda ul li {
  list-style: none;
}

.basic-userdata li {
  font-size: 30px;
  list-style-type: none;
}

/*------------Jobs----------------------*/

.Jobs-title {
  position: relative;
  text-align: center;
}

.Jobs-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 150px;
  font-weight: bolder;
  color: #1a39ca;
  font-family: "Times New Roman", Times, serif;
}

.Job-list {
  width: 45vw;
  height: 65vh;
  margin: 30px;
  /* padding: 10px; */
  border: 1px solid #1a39ca;
  overflow: auto;
}

.content-jobs-page {
  display: flex;
  justify-content: center;
}

.Job-box {
  box-sizing: border-box;
  height: auto;
  display: flex;
  direction: row;
  background-color: #e6efff;
  font-style: none;
}

@media only screen and (max-width: 600px) {
  .Job-list {
    width: 80vw;
    margin: 30px;
  }

  .promoted-applicants {
    flex-wrap: wrap;
  }
}

/*-------Jobs Page renovated-------*/

.Job-box:hover {
  background: white;
}

.Job-logo {
  margin: 20px;
}

.Job-data {
  margin-top: 20px;
}

.job-title-card {
  font-size: 32px;
  font-weight: bolder;
  text-decoration: none;
  color: #0a66c2;
}

.profile-match,
.promoted-applicants {
  display: flex;
  direction: row;
}

.profile-match,
.promoted {
  color: #696167;
}

.match-pic {
  border-radius: 50%;
}

.applicants {
  color: #057642;
  font-weight: bold;
}

.Job-data > h3 {
  font-size: 24px;
  color: #696167;
}

.Job-data h4 {
  font-size: 20px;
}

/*----end of Jobs page----/*

/*---END OF HERIBERTO----*/

/* About page */
.aboutCol {
  font-size: 1.4rem;
}
.about_heroimg {
  width: 35rem;
  height: 20rem;
}
.about1strow {
  background-color: #f4f5f7;
}
.about1strowImg {
  background-color: #1a39ca;
}

/* End of about page */

/* Blog Page */

.showPostsSection {
  background-color: #3d88b7;
  height: 100vh;
}

.newPostButton {
  font-size: 2rem;
}

.link_addPost {
  text-decoration: none;
}
/* add post */

.writeBlogSection {
  height: 100vh;
}

form label {
  font-size: 2rem;
  margin-top: 0.5rem;
}

form input {
  height: 4rem;
  border: 1px solid black;
}

#inputTitle,
#firstName,
#email {
  font-size: 2rem;
}

.postButton {
  background-color: #1a39ca;
  color: #fff;
}

/* quil editor */
.ql-editor {
  min-height: 30rem;
}

/* end of quil editor */

/* end of add post */

/* End of blog page */

/*Login Page*/
.login-container,
.register-container {
  margin: 13% auto;
  width: 50vw;
  max-width: 1150px;
  height: auto;
  background-color: #e6efff;
  border-radius: 10px 10px;
}
.login-container h2,
.register-container h2 {
  font-size: 3rem;
}
#login-img {
  background-image: url(./images/lock-4441691_1280.png);
  background-size: cover;
  background-position: center;
  background-color: #1a39ca;
  background-blend-mode: screen;
  border-radius: 10px 10px;
}
.login-form,
.login-form input {
  font-size: 2rem;
  padding: 2.5rem;
}
.register-btn,
.login-btn {
  background-color: #f66e1a;
  border-color: #a0806c;
  font-size: 2rem;
  border-radius: 5px 5px;
  width: 10rem;
  color: white;
}

/*Register Page*/
.register-container {
  margin: 10% auto;
}
#register-img {
  background-image: url(./images/membership-3936563_1280.jpg);
  background-size: cover;
  background-position: center;
  background-color: #1a39ca;
  background-blend-mode: screen;
  border-radius: 10px 10px;
}
.register-form,
.register-form input {
  font-size: 1.5rem;
  padding: 0 2rem;
}
